.cover{
	min-height: 200px;
}
.navbar-header .navbar-brand{
	margin: 0px;
	padding-top: 5px;
}
.navbar-default{
	background-color: #CCDFF0;
	border:0px;
}
.navbar-default .navbar-nav li a{
	color:#444;
}
.footer{
	background-color: #111;
	min-height: 200px;
}
.footer ul li{
	list-style-type: none;
}
.footer ul li a{
	text-decoration: none;
	color: #777;
} 
.footer .col-md-3{
	margin-top: 50px;
	margin-bottom: 30px;
}
.footer address{
	color: #777;
}